[Unit]
Description=Gemini Proxy Service
After=network.target

[Service]
User=your_user_here # Замените на вашего пользователя
Group=your_group_here # Замените на вашу группу
WorkingDirectory=/Users/delfer/workspace/gemini-api-proxy/gemini-proxy-service
ExecStart=/Users/delfer/workspace/gemini-api-proxy/gemini-proxy-service/.venv/bin/python main.py # Убедитесь, что путь к venv правильный
# Environment="VAR1=value1" "VAR2=value2" # Раскомментируйте и добавьте ваши переменные окружения здесь
# EnvironmentFile=/path/to/your/.env # Или укажите путь к файлу с переменными окружения
Restart=on-failure

[Install]
WantedBy=multi-user.target